.v-address-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.v-address-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}
.v-address-modal--active {
  display: block;
}
.v-address-modal .v-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.v-address-modal .field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.v-address-modal .field label {
  font-size: 13px;
}
.v-address-modal .field input,
.v-address-modal .field select,
.v-address-modal .field textarea {
  border: none;
  outline: none;
  box-shadow: none;
}
.v-address-modal .v-field-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.v-address-modal .v-field-btn .btn {
  min-width: 80px;
  height: 28px;
}
